:root {
    /* ------- COLORS ------- */
    --color-primary: hsl(177, 68%, 64%);
    --color-secondary: hsl(12, 94%, 65%);
    --color-tertiary: hsl(33, 100%, 70%);
    --color-text: hsl(20, 33%, 98%);
    --color-text-dark: hsl(244, 23%, 12%);

    /* ------- RADIUS ------- */
    --radius: 8px;
}

/* ------- BASIC ------- */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: center;
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* ------- CARD ------- */

/* ------- PHONE ------- */

/* ------- DESKTOP ------- */
